
*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navg-cont{
    display: flex;
  align-items: center;
   justify-content: space-between;
  margin:16px 120px;
}
.navg-links{
    display: flex;
    gap: 40px;

}
.navg-links li{
    list-style: none;
}
.navg-links li a{
    text-decoration: none;
     color: black;
    font-size:  16px;
}
.btn{
    background-color: #469165;
    padding:12px 16px;
       justify-content: center;
    font-size: 16px;
 font-weight:600;
    border-radius: 4px;

    color: white;
    border:none;

}
.hero-banner{
    width:100%;
}
.banner{
    justify-content: center;
   position: relative;
    height: 674px;
  display: flex;
  align-items: center;
  
}
.banner .bg{
  position: absolute;
   width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content{
  width: 1360px;
  width: 100%;
  margin: 0 auto;
   text-align: center;

   position: relative;
  padding: 0 24px;
  z-index: 2;
  
}
 .badge{
  display: inline-block;
  padding: 8px 12px;
   border-radius: 1000px;

  background-color:white;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}

.hero-title{
    width: 1360px;
    color: white;
     font-weight: 770; 
     font-size: 64px;
    margin: auto;
      
}
.hero-title span{
    color:#30B868;
}
.hero-text{
    line-height: 24px;
    margin-bottom: 32px;
    color: white;
}

.buttons .btn2{
       background-color: transparent;
       border:2px solid white;
       margin-left: 16px;
}
.header-end{
    text-align: center;
   
    margin: 0 auto;
    padding-bottom: 44px;
}
.header-end h2{

    font-size: 48px;
    color: #001931;
    margin-top: 66px;
}
.header {
    color: #627382;
    line-height: 20;
    font-size: 16px;
}