
*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navg-cont{
    display: flex;
  align-items: center;
   justify-content: space-between;
  margin:16px 120px;
}
.navg-links{
    display: flex;
    gap: 40px;

}
.navg-links li{
    list-style: none;
}
.navg-links li a{
    text-decoration: none;
     color: black;
    font-size:  16px;
}
.btn{
    background-color: #469165;
    padding:12px 16px;
       justify-content: center;
    font-size: 16px;
 font-weight:600;
    border-radius: 4px;

    color: white;
    border:none;
    cursor: pointer;

}
.hero-banner{
    width:100%;
}
.banner{
    justify-content: center;
   position: relative;
    height: 674px;
  display: flex;
  align-items: center;
  
}
.banner .bg{
  position: absolute;
   width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content{
  width: 1360px;
  width: 100%;
  margin: 0 auto;
   text-align: center;

   position: relative;
  padding: 0 24px;
  z-index: 2;
  
}
 .badge{
  display: inline-block;
  padding: 8px 12px;
   border-radius: 1000px;

  background-color:white;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}

.hero-title{
    width: 1360px;
    color: white;
     font-weight: 770; 
     font-size: 64px;
    margin: auto;
      
}
.hero-title span{
    color:#30B868;
}
.hero-text{
    line-height: 24px;
    margin-bottom: 32px;
    color: white;
}

.buttons .btn2{
       background-color: transparent;
       border:2px solid white;
       margin-left: 16px;
}
.header-end{
    text-align: center;
   
    margin: 0 auto;
    padding-bottom: 44px;
}
.header-end h2{

    font-size: 48px;
    color: #001931;
    margin-top: 66px;
}
.header-end p{
    color: #627382;
    font-size: 16px;
}
.card{
    width: 1360px;
    margin: 0 auto;
}
.cards{
    display: flex;
    justify-content: space-around;
      gap: 24px;
      padding-bottom: 120px;
      height: 300px;
}
.cards .c{
    text-align:center;
    box-shadow: 0 10px 30px whitesmoke;
    padding: 24px;
    border-radius: 8;
    
  
}
.icon{
     width:60px;
    height:60px;
      background-color: #F95555; 
    border-radius: 50%;
      margin: 16px auto;
    align-items: center;
     display: flex;
    justify-content: center;
}
.icon img{
    width: 32px;
    height: 32px;
}
.cards .c p{
   font-size: 16px;
   font-weight: normal;
   color: #627382;

}
.cards .c h3{
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    gap: 60px;
}
.solution img{
    width: 600px;
    height: 600px;
}
.sol-text{
    width: 700px;
}
.sol-text .sol-text-green{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.sol-text h1{
   margin: 16px 0;
   font-size: 48px;
   font-weight: 700;
   color: #001931;
}
.sol-text-small{
    color: #627382;
    font-size:16px;
    font-weight: 400;
}
.sol-text ul{
    margin-top: 40px;
    list-style: none;
}
.sol-text ul li{
    color:#003031;
    font-size: 16px;
    font-weight: 500;
   
}
.challange{
    width: 85%; 
    background-color: #F7F6F2;
    text-align: center;
    justify-content: space-around;
    margin: 120px auto;
    padding: 80px 40px;
    border-radius: 12px;

}
.challange h1{
         font-size:40px ;
         font-weight: 800;
         margin-bottom: 16px;
}
.challange p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 24px;
}
.challange button{
    margin-bottom: 16px;
}
.footer-box{
    background-color: #001931;
    color: #FFFFFF;
    padding: 120px 120px 30px 120px;
}
.foot{
    width: 1600px;
    margin: 0 auto;
}
.foot-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.foot-social{
   margin-right: 120px;
}
.foot-social p{
   font-size: 20px;
   font-weight: 400;
   text-align: left;
   margin-bottom: 16px;
}

.divider{
  height: 1px;
  background:whitesmoke;
  margin-bottom: 30px;
  margin-top: 80px;
}

.copyright{
    color: #FAFAFA;
    text-align: center;
    opacity: 0.7;
}